@model Veterinaria_AppWeb.ViewModels.ProductoViewModel
@{
    ViewData["Title"] = "Editar Producto";
}

<h1>Editar Producto</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id_Producto" />
    @await Html.PartialAsync("ProductoForm", Model)

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
