@model Veterinaria_AppWeb.ViewModels.ServicioViewModel

<h2>Crear Servicio</h2>

<form asp-action="Create" method="post">
    <partial name="ServicioForm" model="Model" />
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>