@model Veterinaria_AppWeb.ViewModels.ServicioViewModel

<h2>Detalles del Servicio</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Servicio" class="btn btn-warning">✏️ Editar</a>
    <a asp-action="Index" class="btn btn-secondary">⬅️ Volver</a>
</div>