body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.card {
    background-color: #ffffff;
}

.btn-primary, .bg-primary {
    background-color: #4CAF50 !important; /* Verde veterinaria */
    border-color: #4CAF50 !important;
}

    .btn-primary:hover {
        background-color: #45a049 !important;
        border-color: #45a049 !important;
    }

footer {
    font-size: 0.9rem;
}
